@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 400;
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype"); 
}

@font-face {
  font-family:'Montserrat-Bold';
  font-style:  normal;
  font-weight: normal;
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");      
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin : 0;
    font-family: 'Montserrat'
    font-size : 12px;
    margin-bottom:150px; /* Space untuk #footer */
}


.clear{
    float: :none;
    clear: both;
}
.center{
    width: 1440px;
    margin: 0px;
}
#header {
  width: 100%;
  height: 85px;
  background-color: #97AA70;
  color: #ffffff;
}
#header #logo{
    float :left;
    padding: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 290px;
}

#header.navigation{
    float: right;
}
#header.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
#header .navigation ul li{
    display: inline-block;
    font-size: 13px; 

}
#header .navigation ul li a{
    display: inline-block;
    padding: 28px;
    text-transform: uppercase;
    font-family: "Montserrat-Bold";
    color: #ffffff;
    padding-top: 33px;
    padding-bottom: 32px;
}

#banner{
    background: url("../assets/img/img.jpg") no-repeat center center;
    padding: 179px;
    padding-left: 100px;
    -webkit-background-size:cover;
    background-size: cover;
}
#banner h1{
    font-family: Montserrat;
    font-size: 18px;
    color: #ffffff;
}
#banner h2{
    font-family: Montserrat-Bold;
    font-size: 40px;
    color: #ffffff;
}
#banner h2{
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #ffffff;
}
#footer {
    width: 1440px;
    height: 580px;
    background-color: #ffffff;
    border: solid 1px;
}
