


@media only screen and (max-width: 1270px) {
  .m-5-hor{ margin-left:0; margin-right:0;}	
  header.show{
	height:80px;
	background: rgba(255, 255, 255, 0)!important;
  }
  nav ul li.space {
    display: none;
  }
  .overlay-main {
    top: 0px;
  }
  .navbar-toggle {
    display: block;
    position: fixed;
    right: 7px;
    top: 15px;
    z-index: 9999;
  }
  .navbar-toggle:hover {
    border: 1px solid #999;
  }
  
.navbar-default-white .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: left; /* Move navbar toggle to left */
}
.navbar-default-white .navbar-toggle .icon-bar {
  background-color: #fff; /* Changes regular toggle color */
}
.navbar-default-white .navbar-toggle .icon-bar:hover {
  background-color: #fff; /* Changes toggle color on hover */
}
  /* menu block white */
  .navbar-default-white {
	position:fixed;
	margin: 0px auto;
    border-bottom: 0px groove rgba(255, 255, 255, 0);
    top: 0px;
	background: #cb2027;
  }
  .navbar-default-white {
  transform: translateZ(0); /* Scroll Fix in iPad */
  height:75px;
  }
  .navbar-brand.white {
	position:fixed;
    left: 10px;
  }

  .navbar-brand.white img {
    width: auto;
	height: 100px;
  }

  #main-menu.white {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #cb2027;
    z-index: 1;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
  }
  .menu-init {
    opacity: 1;
    top: -100%;
    -webkit-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -moz-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -o-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  }
  .menu-show {
    opacity: 1;
    top: 0px;
    -webkit-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -moz-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    -o-transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
    transition: top 1s cubic-bezier(.165, 0.840, 0.440, 1.000), opacity 0.4s linear;
  }
  .white nav {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    float: none;
    left: 20px;
    top: 0px;
    z-index: 999;
  }
  .white nav ul li, .white nav ul li.btn {
    display: block;
    margin: 0 0 0 0;
    margin-right: 15px;
    text-align: left;
    background: rgba(0, 0, 0, 0);
  }
 .white nav a {
    display: block;
    padding: 10px;
    line-height: 30px;
  }
 .white nav ul ul {
    position: relative;
    top: 0px;
    margin-left: 15px;
  }
 .white nav ul ul li {
    background: rgba(21, 23, 29, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
 .white nav ul ul ul li {
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
 .white nav ul ul li a {
    line-height: 20px;
    font-weight: 400;
    font-size: 8pt;
  }
  .white nav ul li .input-group {
  margin-left:0px;
  margin-right:30px;
  }
  #search-wrap{ display:block; position:absolute; left:0px;}
  /*menu block white end*/
}