/* font-tram */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/* general */
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, button, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font: inherit; */
  text-decoration: none;
  list-style: none;
}

/* general */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 1.9em;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  overflow-x: hidden;
  color:#333;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
h1 {
  font-size: 34pt;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 30pt;
  font-weight: 400;
  line-height: normal;
}
h3 {
  font-size: 24pt;
  font-weight: 400;
  line-height: normal;
}
h4 {
  font-size: 18pt;
  font-weight: 500;
  line-height: normal;
}
h5 {
  font-size: 14pt;
  font-weight: 500;
  line-height: normal;
}
h6 {
  font-size: 12pt;
  font-weight: 500;
  line-height: normal;
}
p {
  font-size: 13px;
  line-height: normal;
}
a, a:visited, a:hover, a:active, a:link {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-class {
  display: block;
  text-decoration: none;
}

/* space */
.space-single {
  width: 100%;
  height: 40px;
  display: block;
  clear: both;
}
.space-double {
  width: 100%;
  height: 80px;
  display: block;
  clear: both;
}
.space-half {
  width: 100%;
  height: 20px;
  display: block;
  clear: both;
}
hr {
  display: block;
  clear: both;
  border-top: solid 1px #ddd;
  margin: 40px 0 40px 0;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.left {
  text-align: left;
  float: left;
  line-height: inherit;
}
.right {
  text-align: right;
  float: right;
  line-height: inherit;
}
.color {
  color: #c8b16f;
}
.min-left {
  margin-left: -15px;
}
.min-right {
  margin-right: -15px;
}

/* margin */
.m-5-hor{ margin-left:5%; margin-right:5%;}

/* button */
button {
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:hover {
  border: none;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-content {
  display: block;
  position:relative;
  width: 174px;
  height: 45px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 40px;
  color: #fff;
  background: rgba(255,255,255,0);
  border: 3px solid #c8b16f;
  outline: none;
  text-shadow: none;
  margin: 15px auto;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-content:hover {
  color: #fff;
  background: #c8b16f;
  border: 3px solid rgba(255, 255, 255, 0);
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }
.btn-content:hover .shine{
	-webkit-animation: sheen .6s alternate;
	animation: sheen .6s alternate;
	}
.btn-content:hover a{ color:#fff;}

/* section */
section {
  padding: 80px 0 80px 0;
}
.no-bottom {
  padding-bottom: 0 !important;
}
.no-top {
  padding-top: 0 !important;
}
.no-padding, section.no-padding {
  padding: 0;
}
.p-30{ padding:30px;}
.p-60{ padding:60px;}
.p-90{ padding:90px;!important;}
.sp-padding{
	padding:60px 0 60px 0;
	overflow:hidden;
	overflow-x:hidden;
}
/* no select */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* wrapper */
.content-wrapper {
  overflow-x: hidden;
}
.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.no-gutter {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.no-gutter [class*='col-']:not(:first-child), .no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.row.equal {
    display: flex;
    flex-wrap: wrap;
}

/* whitepage */
.whitepage {
  width: 100%;
  height:auto;
  color:#606060;
  background: #fcfcfc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff,#fcfcfc ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff,#fcfcfc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff,#fcfcfc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff,#efcfcfc); /* Standard syntax */
}

.whitepage h1 {
  font-weight: 500;
  text-transform: none;
  letter-spacing: 2px;
}
.whitepage h2 {
  font-weight: 500;
  text-transform: none;
}
.whitepage h3 {
  font-weight: 400;
  text-transform: none;
}
.whitepage h4 {
  font-weight: 400;
  text-transform: none;
}
.whitepage em {
  display: block;
  font-style: italic;
  margin-bottom: 20px;
}
.whitepage article {
  padding: 0px 60px 0 0;
}
.whitepage p{ text-align:justify; line-height:30px; letter-spacing:.6px;}
.whitepage .l-norm{ line-height:15px!important;}
.whitepage span a{ font-weight:500;}
.whitepage strong{ font-weight:600; color:#333; display:block; margin-bottom:15px;}
.bgpage{
	width: 100%;
	overflow:hidden;
	background: url(../img/bg-1.jpg)no-repeat center center fixed;
	background-attachment: scroll;
}

.color-page{color:#fff; background:#fafafa;}

/* content column */
.col-content {
  position: relative;
  width: 100%;
  height: auto;
}
.col-content h1, .col-content h2, .col-content h3, .col-content h4, .col-content h5, .col-content h6 {
  margin-bottom:30px;
  font-weight:500;
}
 .col-content h3 {
  font-size: 23pt;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
 }
.col-content p {
  font-weight:300;
  line-height: 2em;
  letter-spacing:.4px;
  margin-bottom:15px;
  margin-top:15px;
}
.col-content {
  color: #555;
  font-weight:400;
  line-height: 2em;
  letter-spacing:.4px;
}
/* general */


/* preloader */
.preloader-white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fbfbfb;
}
.mainpreloader {
  position: relative;
  animation: rotate 1s infinite linear;
  border: 3px solid #fff;
  width: 40px;
  height: 40px;
  margin-right: -24px;
  border-radius: 999px;
}
.mainpreloader span {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-top: 3px solid #cb2027;
  top: -3px;
  left: -3px;
  border-radius: 999px;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo-preloader {
  animation: fadeimg 1s infinite linear;
}
@-webkit-keyframes fadeimg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeimg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.bg-preloader-white {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fbfbfb;
  z-index: 99999;
}
/* end preloader */

/******************** navigation *******************/
header{position:fixed; z-index:999;}
header.init{
	width:100%;
	height:80px;
	background: #cb2027 !important;
	-webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
	}
header.show{
	height:80px;
	background: #cb2027 !important;
	-webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
	}
.navbar-default-white {
  position:fixed;
  margin: 0px auto;
  top:0px;
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .0);
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
  z-index:9999;
}
.navbar-default-white {
  transform: translateZ(0); /* Scroll Fix in iPad */
  height:80px;
   -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  -moz-transition: all .5s cubic-bezier(.165, .84, .44, 1);
  transition: all .5s cubic-bezier(.165, .84, .44, 1);
}
.navbar-default-white.fullHeight {
  height: 100%!important;
}
.navbar-brand.white {
  position:relative;
  top: -15px;
  left: 0px;
  z-index: 2;
}
.navbar-brand.white img {
  width:auto;
  height:auto;
  max-height: 126px!important;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.navbar-brand.white img.black { display:none; }
.navbar-default-white.sticky{
	left: 0;
	right: 0;
	margin: 0 auto;
	width: inherit;
	box-sizing: border-box;
	/*background: rgba(255, 255, 255, 1);
	box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);*/
	 -webkit-transition: all .3s cubic-bezier(.165, .84, .44, 1);
     -moz-transition: all .3s cubic-bezier(.165, .84, .44, 1);
    transition: all .3s cubic-bezier(.165, .84, .44, 1);
}


/* menu nav */
.white nav {
  position: relative;
  float:right;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.white nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.white nav ul li {
  display: inline-block;
  margin: 0;
  margin-right:-4px;
}
.white nav ul li .input-group {
  top:15px;
  margin-left:20px;
  width:220px;
}
.white nav ul li .input-group button{
	display:inherit;
	padding: 0;
	line-height: 0px;
	border:none;
}
.white nav ul li .input-group i{ margin-left:0px; }

.white nav a {
  display: block;
  padding: 10px 15px 10px 15px;
  color: #eee;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 60px;
  text-decoration: none;
}
.white nav a:hover {
  color: #fff!important;
  background: #d9222a;
}
.white nav a:hover::before {
  display: inline-block;
  position: absolute;
  max-width: 35px;
  color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}
.white nav a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
  white-space: nowrap;
}
.white nav a.actived {
  color: #fff!important;
  background: #d9222a;
}
.white nav a i { font-size:16px; }
.white nav ul ul {
  display: none;
  position: absolute;
  top: 80px;
  color: #efefef;
}
.white nav ul li:hover>ul {
  display: inherit;
  -webkit-animation-name: animfadeInUpmenu;
  animation-name: animfadeInUpmenu;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.white nav ul ul li {
  width: 230px;
  float: none;
  display: list-item;
  background: #090c0d;
  border-bottom: 1px groove rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 2px rgba(23, 36, 52, .05);
  position: relative;
}
.white nav ul li i { margin-left:10px;}
.white nav ul ul li a {
  color: #707070;
  font-size: 11px;
  line-height: 20px;
  padding-left: 17px;
}
.white nav ul ul li a:hover {
  color: #fff!important;
  background: #c8b16f;
}
.white nav ul ul li a.active {
  color: #fff;
  background: #c8b16f;
}
.white nav ul ul li:last-child {
  border-bottom: none;
}
.white nav ul ul ul li {
  position: relative;
  top: -75px;
  left: 230px;
}
li>a:after {
  content: '';
}
li>a:only-child:after {
  content: '';
}
/* end menu nav */
/******************** navigation end *******************/

/* subheader */
#subheader {
  padding: 470px 0 160px 0;
  background: #222;
  
}
#subheader-news {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/bg-news.jpg)top fixed;
}
#subheader-1 {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/bg-subheader-inv-rel.jpg)top fixed;
}
#subheader-5 {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/bg-subheader5.jpg)top fixed;
}
#subheader-4 {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/bg-subheader4.jpg)top fixed;
}
#subheader-6 {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/bg-subheader6.jpg)top fixed;
}
#subheader-about {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/bg-about.jpg)top fixed;
}
#subheader-flet {
  padding: 440px 0 120px 0;
  background: #222;
  background: url(../img/our-main-fleet.jpg)top fixed;
}
#subheader h1, #subheader-1 h1, #subheader-4 h1, #subheader-5 h1, #subheader-6 h1, #subheader-about h1, #subheader-flet h1, #subheader-news h1 {
  color: #fefefe;
  text-align:left;
  margin-top: 40px;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform:none;
}
/* subheader end */


/* intro */
.bgvertix {
  position:absolute;
  width: 100%;
  height: 100%;
}

.bgvertix img {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
.overlay-main{
  position:absolute;
  width:100%;
  height:100%;
  background: url(../img/intro/overlay.png)top fixed;
}
.overlay-black{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.6);
}
#bgslideshow{
	position:fixed;
	overflow:hidden;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	cursor:pointer;
}
img.logo{ max-height:90px; margin:30% 0 30% 0; position:relative;}
#bgslideshow h1 { color:#fff;}
#bgslideshow h1.mobile{ margin-top:-15%; color:#333;}
#bgslideshow h1.desktop{ margin-top:5%;}
/* intro end */


/* home */
.devider-cont{
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	border-bottom:2px solid #959595;
	max-width:62px;
}
.box-round{
	display:block;
	padding:30px;
	border:1px solid rgba(0,0,0,.1);
	margin:5px;
  overflow: hidden;
}
.box-round i{ font-size:28pt; display:inline-block;}
.box-round .cont-val{ display:inline-block; margin-left:10px; line-height:20px;}
.box-round .cont-val span{ display:block; font-size:14px;}
.box-round .cont-val span strong{ font-size:15px; font-weight:600; margin-top:15px; margin-bottom:3px;}
a.readmore{ display:block; margin-top:15px; color:#e52329; font-weight:500; cursor:pointer;}
a.readmore:hover{ color:#666;}


strong.vision{ font-size:13pt; font-weight:500; margin-top:30px;}

/* home  end */


/* about */
.head-team{ font-size:15pt; font-weight:500; color:#000;}
.team{ display:block; margin:0 auto; margin-bottom:30px; text-align:center;}
.team p{ text-align:center; }
.team .vision{ font-size:11pt; font-weight:500; margin-top:15px; color:#000; line-height:normal;}
.team .biography{font-size:10pt; font-weight:400; color:#000; line-height:normal; margin-top:10px;}
.team .strong{ font-weight:500;}
.cont-mile{ font-size:15pt; font-weight:500; margin:30px 0px 30px 0px;}
.vis-mis { margin-bottom:30px;}
.vis-mis span{display:block; font-size:11pt; margin:5px 0 5px 0; }
.red-color{
	font-size:22px;
	color:#cb2027;
	margin-bottom:15px;
	}
.box-round-our-milestone{ margin-left:1px; margin-right:1px; display:block; width:98%; background-color:#f8f8f8;padding:30px;border:1px solid rgba(0,0,0,.1); }
.btn {
  display:inline-block;
  position:relative;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  padding:11px 25px 10px 25px;
  color: #000;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,.5);
  outline: none;
  text-shadow: none;
  margin: 20px auto;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn:hover {
  color: #fff;
  background: #cb2027;
  border: 1px solid rgba(0,0,0,0);
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }
.btn:hover .shine{
	-webkit-animation: sheen .6s alternate;
	animation: sheen .6s alternate;
	}
.btn:hover a{ color:#fff;}
/* about end */

/*services*/
.btn-serv {
  display:inline-block;
  position:relative;
  /* width: 174px; */
  width: auto;
  height: 45px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 43px;
  color: #000;
  background: rgba(255,255,255,0);
  border: 2px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  text-shadow: none;
  margin: 0 20px 0 0;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-serv:hover {
  color: #fff;
  background: #cb2027;
  border: 3px solid rgba(255, 255, 255, 0);
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }
.companies { padding-top:35px;}
.companies span{ display:block; font-size:13pt; margin:30px 0 30px 0;}
#serv-tog.init{ max-height:100px; overflow:hidden; }
#serv-tog.show{ max-height:none; overflow:inherit;}
/*services end*/

/* fso */
.fso-text{ display:block; width:100%;}
.fso-text span{ display:inline-block;}
.fso-text span.desc{ width:150px;}
.fso-text span.devider{ margin-left:5px; margin-right:5px;}
/* fso end */



/* Compliance & Governance*/
.charter{ width:auto; display:inline-block;}
.charter img{ display:inline-block; max-width:270px; height:auto; margin-right:5px; }
.charter img:last-child{margin-right:0px;}
.csr{display:inline-block;
  padding:25px 0 25px 0;
  position:relative;
  width:100%;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:.3px;
  line-height: 43px;
  color: #000;
  background: rgba(255,255,255,0);
  border: 2px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  text-shadow: none;
  margin: 0 20px 0 0;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;}
.csr h5{ font-size:16px;}
.csr img{ max-width:70px; height:auto;}
.devider-cont-csr{
	display:block;
	margin-left:53px;
	margin-top:0px;
	margin-bottom:15px;
	border-bottom:2px solid #959595;
	max-width:180px;

}
/* Compliance & Governance end*/

/*career*/
.btn-career {
  display:inline-block;
  position:relative;
  width: 294px;
  height: 45px;
  font-size: 11pt;
  font-weight: 500;
  text-align: center;
  letter-spacing:1px;
  line-height: 43px;
  color: #000;
  background: rgba(255,255,255,0);
  border: 2px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  text-shadow: none;
  margin: 0 20px 0 0;
  cursor: pointer;
  overflow: hidden;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.btn-career:hover {
  color: #fff;
  background: #cb2027;
  border: 3px solid rgba(255, 255, 255, 0);
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }
/*career end*/


/*contact*/
#map-1 {
  width: 100%;
  height: 500px;
  padding-top: 0px;
  margin-bottom: 30px;
}

.bg-contact{ background:#808283; padding:90px; color:#fff;}
.form-group {
    margin-bottom: 20px;
    }
.form-control {
	width:100% !important;
    height: 53px !important;
    padding: 10px 20px 6px 30px !important;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
	background:#fff !important;
    border: 2px solid #f1f1f1;
    border-radius: 0;
    box-shadow: none;
    }
.form-control:focus {
    border: 2px solid #31aae2 !important;
    box-shadow: none;
    }

.user-message textarea {
    min-height: 195px;
    padding-top: 12px;
    }
.contact-form form button {
    margin-top: 10px;
    }


.user-name,
.user-email,
.user-phone,
.user-url,
.user-message{
    position: relative;
    }
.user-name::after,
.user-email::after,
.user-phone::after,
.user-url::after,
.user-message::after {
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: "FontAwesome";
    color: #dadada;
    }

.user-name::after {
    content: "\f007";
    }
.user-email::after {
    content: "\f003";
    }
.user-phone::after {
    content: "\f095";
    }
.user-url::after {
    content: "\f0ac";
    }
.user-message::after {
    content: "\f086";
    }

.btn-contact {
width: 190px;
height: 46px;
font-size:11pt;
font-weight:500;
letter-spacing:1pt;
font-style:normal;
text-align:center;
line-height:35px;
color:#fff;
background:rgba(255,255,255,0);
border:2px solid rgba(255,255,255,1);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
outline: none;
text-shadow:none;
margin: 30px auto;
margin-left:0px;
padding: 0;
cursor:pointer;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.btn-contact:hover{
border:2px solid rgba(255,255,255,0);
color:#fff;
background:#696a6b;
}
.error {
  width: 100%;
  display: none;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  margin: 10px auto;
}
.success {
  width: 100%;
  display: none;
  padding: 5px 0px 2px 0px;
  font-size: 11px;
  margin: 10px auto;
}
/* contact end */
/*contact end*/


/* news */
.text-cont-cor-act{display:block;}
.text-cont-cor-act a{ display:inline-block; font-size:11pt; max-width:750px; }
.text-cont-cor-act span{ display:inline-block; width:200px; font-weight:600; font-size:12pt; margin-right:50px;}
.media-cliping{ overflow:hidden; margin:20px 0 20px 0; cursor:pointer;}
.media-cliping img{ height:180px; margin-bottom:10px; }
.coryear a:hover{ opacity:.7;}

/* pop video */
.custom-popup-class .mfp-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.custom-popup-class .mfp-content {
  width: 100%;
  max-width: 600px;
}
.popup-video {
  width: 100%;
  height:auto;
  overflow: hidden;
  padding-top: 56.25%;
}
.popup-video.mfp-close {
  top: -44px;
  color: #FFF;
  text-align: right;
  right: 1px;
}
.some-element {
  position: absolute;
  top: -3px;
  left: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}
/* pop video end */

/* news-end */
























/* search */
a#btn-search{ cursor:pointer; padding-right:20px;}
.input-group .form-control {
	width:100% !important;
    height: auto !important;
    padding: 4px 0px 4px 10px !important;
    font-size: 13px;
    line-height: 24px;
    color: #969595;
	background:#fff !important;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    box-shadow: none;
    }
.form-control:focus {
    border: 2px solid #31aae2 !important;
    box-shadow: none;
    }
#search-wrap{ display:none; position:absolute; right:0px;}
.fullblockinput{
	position:fixed;
	width:100%;
	height:1000%;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0);
}
.input-group span.icon{
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	margin-left:0px;
	font-size:11px;
	font-weight:400;
	line-height:2;
	text-align:center;
	white-space:nowrap;
    vertical-align:middle;
    background:#ffc128;
    color:#fff;
	-webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.input-group-btn button:hover span.icon{
	background: #999;
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	}
/* search end */


/* inv relation */
.menu-inv{
	display:inline-block;
	padding:5px 15px 5px 15px;
	margin-right:15px;
	font-size:10pt;
	letter-spacing:1px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8x;
	border:1px solid rgba(0,0,0,0);
}
.menu-inv:hover{
  border:1px solid rgba(0,0,0,.1);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;}
.menu-inv.active{ border:1px solid rgba(0,0,0,.1);}

.inv-content{
	margin:60px 0 60px 0;
	}
	.inv-content .text-cont p{ margin-bottom:15px; max-width:600px; }
	.inv-content .text-cont-investor p{ margin-bottom:15px; max-width:none; }
    .inv-content .text-cont a{ color:#cb2027; margin-bottom:15px; }
	.inv-content .text-cont strong{ font-weight:600; font-size:11pt;}
	.inv-content.m-l-15{ margin-left:15px;}
	.inv-content a.sharehold{
	display:inline-block;
	padding:5px 8px 5px 8px;
	margin-right:15px;
	margin-left:15px;
	font-size:9pt;
	letter-spacing:1px;
}
.inv-content a.sharehold:hover{
   color:#F00;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;}
.inv-content a.sharehold.active{ color:#F00; }
.head-share{ display:inline-block;}

a.prev, a.next{ font-size:10pt; letter-spacing:1px; font-weight:500; cursor:pointer;}
a.next i{ font-size:8pt; margin-left:8px; font-weight:300;}
a.prev i{ font-size:8pt; margin-right:8px; font-weight:300;}
/* inv relation end */

/* list ul year month */
.date-year{ margin-top:40px; border-left:1px solid rgba(0,0,0,.1); padding:20px 0 20px 40px;}
.range-date{ margin:0 0 60px 0;}
.heading-red{ display:block; font-size:13pt; font-weight:600; color:#cb2027; margin-bottom:30px;}

.date-container li{ padding:5px 0 5px 0; font-size:11pt; font-weight:400; letter-spacing:1.2px; cursor:pointer; line-height:30px;}
.date-container li i{ font-size:6pt;}
.date-container li:hover{
  color:#cb2027;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;}
.date-container li ul{ display:none;
  -webkit-transition: display .3s ease-in-out;
  -moz-transition: display .3s ease-in-out;
  transition: display .3s ease-in-out;}
.date-container li ul li{ color:#999; font-size:10pt; font-weight:300; letter-spacing:.7px; margin-left:10px;}
.date-container li ul li:hover{
  color:#cb2027;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;}
.date-container li:hover>ul{
   display:block;
  -webkit-transition: display .3s ease-in-out;
  -moz-transition: display .3s ease-in-out;
  transition: display .3s ease-in-out;}

/* list ul year month end */




/* milestone */
.mile-stone{
	display:block;
	cursor:pointer;
	margin:30px 0 30px 0;
	padding:0 3% 0 3%;
	-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
	}
	.mile-stone:hover{ opacity:.5; -moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
	.mile-stone .img{ display:inline-block; max-height:60px;}
	.mile-stone .text-wrap{ display:inline-block; margin-left:10px; }
	.mile-stone .text-wrap span{ letter-spacing:1px; font-size:16px; font-weight:500; display:block; line-height:30px;}
	.mile-stone .text-wrap a{ letter-spacing:1px; font-size:13px; font-weight:500; display:block;}

/* milestone */




/* footer */
footer.foo{
	padding:30px 0 30px 0;
	background:#f8f8f8;
	font-size:11px;
}


/* totop */
#totop{
width:35px;
height:35px;
background:#cb2027;
line-height:35px;
position:fixed;
right:10px;
text-align:center;
cursor:pointer;
-webkit-border-radius: 4%;
-moz-border-radius: 4%;
-ms-border-radius: 4%;
-o-border-radius: 4%;
border-radius: 4%;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
padding: 11px;
}
#totop.init{
bottom:-100px;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#totop.show{
bottom:10px;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
#totop:hover{
background:#999;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

#totop span{font-size:9pt; font-weight:300; color:#fff; }
/* totop end */













/* Magnific Popup CSS */
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{z-index:1043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-close,.mfp-preloader a:hover{color:#333}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}.mfp-figure:after,.mfp-iframe-scaler iframe{box-shadow:0 0 8px rgba(0,0,0,.6);position:absolute;left:0}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;font-style:normal;font-size:38px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#333;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#fff;font-size:12px;line-height:18px}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{display:block;top:0;width:100%;height:100%;background:#fff}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{top:40px;bottom:40px;right:0;z-index:-1;background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.image-source-link{color:#98C3D1}.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.mfp-with-zoom.mfp-ready .mfp-container{opacity:1}.mfp-with-zoom.mfp-ready.mfp-bg{opacity:.8}.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg{opacity:0}
/* end Magnific Popup CSS */

/* general popup */
.white-popup-block{max-width:900px; margin: 0 auto; margin-top:15%; color:#333; background:#fefefe; padding:40px;}
.white-popup-block h3{ font-weight:300; line-height:normal; letter-spacing:normal;}
.white-popup-block p{ font-size:11pt; font-weight:300; line-height:normal; letter-spacing:normal;}
.devider-black {border-top: 1px solid #333; margin:10px auto; width:200px;}
.devider-black-left {border-top: 1px solid #333; margin:15px 0 20px 0; width:50px;}
.white-popup-block .close-pop{
display:block;
position:relative;
width:100%;
text-align:right;
}
.white-popup-block .close-pop span{font-family:Arial,Baskerville,monospace; font-size:14pt; font-weight:600; color:#333; cursor:pointer;}
.white-popup-block .close-pop span:hover{ opacity:0.5;}


/* accordion custom */
#accordion .panel,
#accordion .panel-heading,
#accordion panel-title,
#accordion .panel-body {
  border: 0;
  background:rgba(0,0,0,0);
}
#accordion .panel {
  box-shadow: none;
}
#accordion .panel .panel-heading {
  border-radius: 0;
}
#accordion .panel .panel-heading .panel-title a {
  text-decoration: none;
  padding: 1em 0;
}
#accordion .panel .panel-heading .panel-title a span {
  float: right;
  width: 50px;
}
#accordion .panel .panel-heading .panel-title a span:after {
  content: "\2014";
  color: #1B5062;
  font-size: 20px;
}
#accordion .panel .panel-heading .panel-title a.collapsed span:after {
  content: "+";
}

.panel-default{ margin-bottom: 30px!important; border:1px solid rgba(0,0,0,.1)!important; padding:10px;}
.panel-heading h4{ color:#d9222a; margin-bottom:10px;}
/* accordion custom end */

ol{
  padding-left: 15px
}

ol>li{
  list-style-type: decimal;
}

/* li{
  margin-left: 10px;
}

ul>li{
  list-style-type: decimal;
} */